*.iml
.gradle
/android/local.properties
/android/.idea/libraries
/android/.idea/modules.xml
/android/.idea/workspace.xml
.DS_Store
/android/build
/android/captures
.externalNativeBuild
/webapp/.idea
/webapp/build
/webapp/out
/webapp_front/node_modules
/webapp_front/client/node_modules
