<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
</head>
<body>
	<div>
		<h1>Form</h1>
		<form action="#" th:action="@{/employee}" th:object="${employee}"
			method="post">
			<p>
				Id: <input type="text" th:field="*{id}" />
			</p>
			<p>
				First Name: <input type="text" th:field="*{firstName}" />
			</p>
			<p>
				Last Name: <input type="text" th:field="*{lastName}" />
			</p>
			<p>
				Salary: <input type="text" th:field="*{salary}" />
			</p>
			<p>
				<input type="submit" value="Submit" /> <input type="reset"
					value="Reset" />
			</p>
		</form>
	</div>
</body>
</html>