

.add>button {
    z-index: 1100;
    position: fixed;
    width: 2rem;
    height: 2rem;
    border: solid 1px lightgrey;
    border-radius: 1rem;
    padding: 1rem;
    bottom: 7rem;
    right: 3rem;
}
