

.card {
    display: grid;  
    align-items: center;
    height: 2.5rem;
    min-width: calc();
    width: 80vw;
    border: 1.5px solid lightgrey;
    border-radius: .2rem;
    margin-top:1rem;
}

.card>.items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    /* justify-content: space-between;
    min-width: calc();
    width: 80vw;
    border: 1.5px solid lightgrey;
    border-radius: .2rem;
    margin-top:1rem; */
}