


.navbar {
    height: 5rem; 
    border-bottom: 1.5px solid lightgrey;
    display: grid;
    align-items: center;
}

.items {
    display: flex;
    flex-direction: row;
}

.logo>a>img {
    height: 1.8rem;
    margin-left: 3rem;
}