<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header">
</head>
<body>
<main>
    <div class="container-fluid mt-2">
        <img class="mw-100" src="/hakatonLogo.jpg" alt="Max-width 100%"/>
        <div class="card text-center">
            <div class="card-header">
                <ul class="nav nav-pills card-header-pills">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/client">Clients</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/parcel">Parcels</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <h3 class="card-title">About</h3>
                <p class="card-text">This application is used to manage users.</p>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>